
<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Quizlett</title>
    <link rel="stylesheet" href="/vendor/normalize-4.1.1.css" type="text/css" />
    <link rel="stylesheet" href="/vendor/border-box.css" type="text/css" />
    <link rel="stylesheet" href="/styles/myquiz.css" type="text/css" />
    <link rel="stylesheet" href="/styles/layout.css" type="text/css" />
    <script type="text/javascript" src="/vendor/jquery-3.0.0.js"></script>
    <script type="text/javascript" src="/scripts/app.js"></script>
  </head>
  <header>
    <!-- Nav -->
    <section class="nav_logo">
      <h1><a href="http://localhost:8080/">Quiz!</a></h1>
    </section>
    <section>
      <nav>
          <ul class="nav_links">
            <li><a href="http://localhost:8080/">Home</a></li>
            <li><a href="http://localhost:8080/createquiz">Create Quiz</a></li>
            <li><a href="http://localhost:8080/myquiz">My Quiz</a></li>
            <li><a href="#">Logout</a></li>
          </ul>
        </nav>
      </section>
    </span>
  </header>
  <body>
      <article class="quiz_questions">
        <div>
        <ul class="quiz_head">
          <li><b>Subject</b></li>
          <li><b>Description</b></li>
        </ul>
        </div>
        <div>
        <ul class="quiz_list">
          <% if (rows) { %>
            <% for (let row of rows) { %>
            <section class="quiz_body">
              <li><%= row.subject %></li>
             <li><%= row.description %></li>

              <!-- <li><%= row.quizid %></li> -->
              <div><% if (row.public) { %>
                <section>
                  <div class="radio_button">
                  <button class="pupr_button" type="button" id="ajaxBtn" value=<%= [row.public, row.quizid] %>>Public</button>
                </div>
                </section>

                  <%  } else { %>
                    <section>
                      <div class="radio_button1">
                        <button class="pupr_button" type="button" id="ajaxBtn1" value=<%= [row.public, row.quizid] %>>Private</button>
                      </div>
                </section>
                <% } %></div>
              <div><button class="article_button" type="submit"><a href="/quizpage/<%= row.quizid %>">Start Quiz</a></button></div>


            </section>
          <% } %>
          <% } %>
          </ul>
          </div>
      </article>
  </body>
</html>












